.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  top:0;
  position:sticky;
  background-color: grey;
  opacity: 50%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
  padding: 8px 16px; /* Added padding for better button sizing */
  border-radius: 8px; /* Rounded corners for button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  z-index: 1000; /* Ensure the button is above other content */
  &:hover {
    opacity: 100%;
  }
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Vertically center items */
  font-size: 16px;
  margin-top: 8px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 24px;
  width: 90%;
  margin-left: 15px;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 50%; 
  vertical-align: middle;
  margin-right: 16px; /* Space between profile and text */
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-text {
  display: flex;
  flex-direction: column; /* Stack text elements vertically */
}

.photo-details-modal__photographer-location {
  color: #838383;
  font-size: 14px; /* Slightly smaller font size */
  margin: 0; /* Remove default margins */
}

.photo-details-modal__photographer-info {
  font-weight: 700;
  font-size: 15px; /* Adjust font size as needed */
  margin: 0; /* Remove default margins */
}

.photo-details-modal_fav{
  margin-left: 30px;
  margin-top: 25px;
  position: absolute;  
  top: 48px; /* Distance from the bottom of the container */
  left: 10px;
}

.photo-details-modal__divider {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 8px 0; /* Adjust spacing around the line */
}
h4 {
  margin: 0%;
}